/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/behaviors.h>
#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/5x6.h"
#include <dt-bindings/led/led.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ___ &trans
#define DEF 0
#define NAV 1
#define NUM 2

/* Timeless homerow mods */
// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods

#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4  // right hand
#define THUMBS LH1 LH0 RH0 RH1
#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    behaviors {
        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <120>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <KEYS_R THUMBS>; // List of keys on the right side of the keyboard
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <120>;
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = < KEYS_L THUMBS >; // List of keys on the left side of the keyboard
            hold-trigger-on-release;
        };
    };

    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        qwerty_swap {
            if-layers = <4 5>;
            then-layer = <1>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  `    |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&kp GRAVE  &kp N1           &kp N2           &kp N3             &kp N4        &kp N5                                 &kp N6                   &kp N7                 &kp N8              &kp N9           &kp N0            &kp DELETE
&kp ESC    &kp B            &kp L            &kp D              &kp C         &kp V                                  &kp J                    &kp Y                  &kp O               &kp U            &kp DOT           &none
&kp TAB    &hml LEFT_GUI N  &hml LEFT_ALT R  &hml LEFT_SHIFT T  &hml LCTRL S  &kp G                                  &kp P                    &hmr RCTRL H           &hmr RIGHT_SHIFT A  &hmr LEFT_ALT E  &hmr RIGHT_GUI I  &kp RIGHT_SHIFT
&sk LSHFT  &kp X            &kp Q            &kp M              &kp W         &kp Z             &kp C_MUTE    &none  &kp K                    &kp F                  &kp SQT             &kp SEMICOLON    &kp COMMA         &none
                            &none            &mo 3              &mo 3         &hml LCTRL SPACE  &mo 4         &mo 5  &hmr LEFT_ALT BACKSPACE  &hmr LA(LCTRL) RETURN  &mo 3               &none
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_AC_ZOOM_IN C_AC_ZOOM_OUT>;
        };

        qwerty_layer {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans        &trans     &trans                       &trans  &trans  &trans     &trans   &trans    &tog 1
&kp TAB     &kp Q   &kp W   &kp E         &kp R      &kp T                        &kp Y   &kp U   &kp I      &kp O    &kp P     &trans
&kp LSHIFT  &kp A   &kp S   &kp D         &kp F      &kp G                        &kp H   &kp J   &kp K      &kp L    &kp SEMI  &trans
&kp LCTRL   &kp Z   &kp X   &kp C         &kp V      &kp B      &trans    &trans  &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &trans
                    &trans  &kp LEFT_ALT  &kp SPACE  &kp SPACE  &trans    &trans  &trans  &trans  &trans     &trans
            >;
        };

        nomods {
            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3  &kp N4  &kp N5                       &kp N6         &kp N7      &kp N8   &kp N9    &kp N0     &to 0
&trans     &kp B   &kp L   &kp D   &kp C   &kp V                        &kp J          &kp Y       &kp O    &kp U     &kp COMMA  &kp BSPC
&kp TAB    &kp N   &kp R   &kp T   &kp S   &kp G                        &kp P          &kp H       &kp A    &kp E     &kp I      &kp SQT
&trans     &kp X   &kp Q   &kp M   &kp W   &kp Z      &trans    &trans  &kp K          &kp F       &kp SQT  &kp SEMI  &kp DOT    &trans
                   &trans  &trans  &trans  &kp SPACE  &trans    &trans  &kp BACKSPACE  &kp RETURN  &trans   &trans
            >;
        };

        hyperland {
            bindings = <
&trans       &trans          &trans          &trans          &trans          &trans                            &trans                  &trans                  &trans                &trans             &trans          &trans
&trans       &kp LS(LG(N1))  &kp LS(LG(N2))  &kp LS(LG(N3))  &kp LS(LG(N4))  &kp LS(LG(N5))                    &kp RS(RG(LEFT_ARROW))  &kp RS(RG(DOWN_ARROW))  &kp RS(RG(UP_ARROW))  &kp RS(RG(RIGHT))  &kp RS(RG(N0))  &trans
&kp LG(TAB)  &kp LG(N1)      &kp LG(N2)      &kp LG(N3)      &kp LG(N4)      &kp LG(N5)                        &kp RG(LEFT)            &kp RG(DOWN_ARROW)      &kp RG(UP_ARROW)      &kp RG(RIGHT)      &kp RG(N0)      &trans
&trans       &trans          &trans          &trans          &trans          &trans          &trans    &trans  &trans                  &trans                  &trans                &trans             &trans          &trans
                             &trans          &trans          &trans          &trans          &trans    &trans  &trans                  &trans                  &trans                &trans
            >;
        };

        lower_layer {
            // TODO: Some binds are waiting for shifted keycode support.
            // ------------------------------------------------------------------------------------------------------------
            // |       |  F1 |  F2 |  F3  |  F4  |  F5  |                   |  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
            // | `     |   1 |   2 |   3  |   4  |   5  |                   |   6  |   7   |   8   |   9  |    0  |  F12  |
            // |       |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   |   |
            // |       |  =  |  -  |  +   |  {   |  }   |        |  |       |  [   |  ]    |  ;    |  :   |   \   |       |
            //               |     |      |      |      |        |  |       |      |       |       |      |

            bindings = <
&kp TILDE      &kp N0       &kp N0            &kp N0             &kp N0     &kp N0                          &kp N0          &kp N0         &kp N0                &kp N0                 &kp N0       &kp N0
&kp LC(G)      &kp AT_SIGN  &kp LESS_THAN     &kp GREATER_THAN   &kp PLUS   &kp STAR                        &kp BACKSLASH   &kp AMPERSAND  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PERCENT  &kp NUMBER_0
&kp LA(SLASH)  &kp POUND    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp COLON  &kp QUESTION                    &kp UNDERSCORE  &kp MINUS      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp SLASH    &kp PIPE
&trans         &kp GRAVE    &kp TILDE         &kp DOLLAR         &kp HASH   &kp EXCL      &trans    &trans  &kp PLUS        &kp EQUAL      &kp DOUBLE_QUOTES     &kp COLON              &kp N0       &kp N0
                            &trans            &trans             &trans     &trans        &trans    &trans  &trans          &trans         &trans                &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        raise_layer {
            bindings = <
&kp F1  &kp F2        &kp F3        &kp F4          &kp F5        &kp F6                              &kp F7    &kp F8    &kp F9  &kp F10    &kp F11  &kp F12
&trans  &kp NUMBER_1  &kp N2        &kp N3          &kp N4        &kp N5                              &kp N6    &kp N7    &kp N8  &kp N9     &kp N0   &trans
&trans  &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LCTRL     &trans                              &kp LEFT  &kp DOWN  &kp UP  &kp RIGHT  &none    &trans
&trans  &trans        &trans        &trans          &trans        &trans            &trans    &trans  &trans    &trans    &trans  &trans     &trans   &tog 5
                      &trans        &trans          &kp LEFT_GUI  &kp LS(LEFT_GUI)  &trans    &trans  &trans    &trans    &trans  &trans
            >;
        };
    };
};
